@charset "UTF-8";
/*------共通-------*/
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS PGothic", sans-serif;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

/*------header-------*/
header {
  height: 70px;
  background: #fff;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}
.HeaderArea {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 36px;
}
.Header-logo {
  height: 20px;
}
.Header-logo-image {
  height: 100%;
  width: auto;
}
.Header-logo-image-sp {
  display: none;
}
.HeaderLists {
  display: flex;
  font-weight: 700;
}
.HeaderLists li {
  display: flex;
  align-items: center;
  margin-right: 45px;
  transition: opacity 0.2s;
}
.HeaderLists li:hover {
  opacity: 0.8;
}
.HeaderLists li:last-child {
  margin-right: 0px;
}
.HeaderLists a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
}
.HeaderContent-En {
  line-height: 14.4px;
  font-family: "Lato", sans-serif;
}
.HeaderContents-Ja {
  font-size: 0.625rem;
}
.Btn {
    background: #F79214;
    height: 40px;
    justify-content: center;
    padding: 0 20px;
    border-radius: 40px;
    color: #fff;
}
.Hamburger {
  display: none;
}

/*------Top-------*/
.Top {
  position: relative;
  height: 739px;
}
.Top img {
  position: absolute;
  z-index: -1;
}
.bg-image-triangle-left {
  top: -70px;
}
.bg-image-main {
  width: 775px;
  top: -70px;
  right: 0;
}
.bg-image-ellipse {
  top: 84px;
  left: -70px;
}
.bg-image-triangle-right {
  bottom: 70px;
  right: 0;
}
.bg-image-sp {
  display: none;
}

.TopContentsWrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 219px;
}
.TopContents {
  position: relative;
  width: fit-content;
}
.TopContents-title {
  font-size: 2.625rem;
}
.TopContents-title span {
  font-family: "Lato", sans-serif;
}
.TopContentsBtn {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 20px 0;
  transition: opacity 0.2s;
}
.TopContentsBtn:hover {
  opacity: 0.8;
}
.TopContents p {
  font-size: 0.75rem;
  line-height: 1rem;
}
.bg-image-badge {
  position: absolute;
  top: -105px;
  right: -150px;
}
.bg-image-badge-sp {
  display: none;
}
/*-----レスポンシブ------*/
@media (max-width: 1080px) {
  header {
    position: fixed;
    width: 100%;
  }
  .HeaderLists {
    display: none;
  }
  .Hamburger {
    display: block;
    position: relative;
    width: 24px;
    height: 17px;
    margin: auto 0;
  }
  .Hamburger-line {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    background: #A2A2A4;
    width: 100%;
    height: 2px;
  }
  .Hamburger-line:first-child {
    top: 0%;
  }
  .Hamburger-line:nth-child(2) {
    top: 50%;
  }
  .Hamburger-line:first-child {
    top: 100%;
  }
  main {
    padding-top: 70px;
  }
}

@media (max-width: 767px) {
  .HeaderArea {
    margin: 0 1rem;
  }
  .Header-logo {
    height: auto;
  }
  .Header-logo-image {
    display: none;
  }
  .Header-logo-image-sp {
    display: block;
    width: 148.5px;
  }
  .bg-image-triangle-left, .bg-image-ellipse, .bg-image-main, .bg-image-triangle-right {
    display: none;
  }
  .bg-image-sp {
    display: block;
    width: 100%;
    position: relative !important;
    margin-top: -18px;
  }
  .TopContentsWrapper {
    margin-top: 7px;
    padding: 0 1rem;
  }
  .TopContents-title {
    position: relative;
    width: fit-content;
    font-size: 1.375rem;
    line-height: 2.25rem;
  }
  .bg-image-badge {
    width: 102px;
    height: 102px;
    right: -85px;
    top: 20px;
  }
  .bg-image-badge {
    display: none;
  }
  .bg-image-badge-sp {
    display: block;
    width: 102px;
    height: 102px;
    top: -20px;
    right: -85px;
  }
}
@media (max-width: 414px) {
  header {
    height: 3rem;
  }
  .Hamburger {
    height: 12px;
    width: 18px;
  }
  .bg-image-sp {
    margin-top: -22px;
  }
}